html {
	background: url(img/backgrounds/alt-background.jpg);
	font-family: 'Nunito', sans-serif;
	background-size: cover;
	background-repeate: no-repeat;
    height:100%;
}

body {
	height: 100%;
	margin: auto
	overflow: auto;
    min-height:900px;
    min-width:525px;
}

h2 {
	font-size: 30px;
}

#content {
    height:100%;
    min-height:100%;
}

.wrapper {
	height: 100%;
	margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-grow:1;
        align-items: center;
}

.wrapper > div {
    align-items: center;
}

.logo {
    margin-top:-130px;
}
    
.logo img {
    max-width: 400px;
    margin-bottom: 40px;
}

.inputSelect:focus {
        border: 2px solid #3498DB;
        box-shadow: none;
}

.inputSelect:hover {
        border: 2px solid #3498DB;
        box-shadow: none;
}

.inputprimary:focus {
        border: 2px solid #3498DB;
        box-shadow: none;
}

.inputprimary:hover {
        border: 2px solid #3498DB;
        box-shadow: none;
}

.form {
    width: 525px;
	position: relative;
	z-index: 1;
	background: var(--light-grey-color);
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.50);
	margin: 0 auto 0px;
	padding: 30px 30px 30px 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
}

.form .thumbnail {
	background: var(--dark-primary-color);
	width: 125px;
	height: 125px;
	margin: 0 auto 15px;
	padding: 20px 20px;
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	box-sizing: border-box;
}

.form .thumbnail img {
	display: block;
	width: 100%;
    max-width:120px;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 14px;
}

.form .message a {
	color: #EF3B3A;
	text-decoration: none;
}

.form .note {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 14px;
}

.form .note a {
	color: #EF3B3A;
	text-decoration: none;
}

.kiosk-form {
    margin: auto;
	text-align: center;
}

.login-form {
	margin: auto;
	text-align: center;
    display: none;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin-top: -2px;
	margin-bottom: -2px;
}

.control-group {
	margin-bottom: 10px;
}

.error {
	display: block;
	font-size: 20px;
	margin-top: 20px;
	color: var(--dark-primary-color);
}

#warning {
    font-size:1.2em;
}

.sessionsText{
    font-style: oblique;    
    margin-top: 10px;
}

.error empty {
	display: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input {
		height: 50px;
	}
}

.inputprimary {
	text-align: center;
	border: 2px solid transparent;
	border-radius: 3px;
	background-color: #ECF0F1;
	padding: 10px;
	font-size: 16px;
	width: 450px;
	transition: border .5s;
        border: 2px solid #d8d8d8;
    box-shadow: none;
}

.inputprimary:focus {
	border: 2px solid #3498DB;
	box-shadow: none
}

.inputprimary:hover {
	border: 2px solid #3498DB;
	box-shadow: none
}

.btn {
    display: inline-block;
	border-radius: 5px;
	box-shadow: 0 1px 3px #666;
	border: solid var(--dark-primary-color) 2px;
	color: #fff;
	font-size: 20px;
	background: var(--dark-primary-color);
	padding: 10px 40px;
    height: 50px;
	text-decoration: none;
    line-height: 1.0;
}

.inputSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
    background-repeat: no-repeat;
    background-position: 95% 42%;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: #ECF0F1;
    padding: 8px;
    font-size: 16px;
    width: 320px;
    transition: border .5s;
    text-align-last: center;
        border: 2px solid #d8d8d8;
    box-shadow: none;
}

.btn:hover {
	background: var(--default-primary-color);
	border: solid var(--default-primary-color) 2px;
	text-decoration: none;
}

.marginright10 {
    margin-right:10px;
}

.marginleft10 {
    margin-left:10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex{
    display:flex;
}

.column {
    flex-direction:column;
    grow:1;
}

.center{
    margin-left:auto;
    margin-right:auto;
}

.custtable > tbody > tr >td:first-child{
    text-align:right;
    padding-right:20px;
}

.custtable > tbody > tr >td:last-child{
    text-align:left;
}

