/* 
*
*       Primary Theming
*
*/

:root {
    --dark-primary-color: #0068bf; 
    --default-primary-color: #2196f3; 
    --light-primary-color: #6ec5ff; 
    --dark-secondary-color: #FFA000;
    --default-secondary-color: #ffc107;
    --light-secondary-color: #ffecb3;
    --text-primary-color: #FFFFFF; 
    --accent-color: #2195f2; 
    --primary-text-color: #212121; 
    --secondary-text-color: #757575; 
    --divider-color: #BDBDBD; 
    --dark-grey-color: #aeaeae;
    --grey-color: #e0e0e0;
    --light-grey-color: #ffffff
}
